body{
	background-color: #d8d8d8;
}

.left-side .user-img {
    width: 70%;
    display: block;
    margin: 0px auto;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #00e676;
}
.justifyText{
text-align : justify;
}

.progress {
	height: 4px;
	border-radius: 0;
	box-shadow: none;
	background: #c8c8c8;
}
/**color de relleno de barra***/
.progress .progress-bar, .progress .progress-bar-default {
	background-color: ##1480EF;
}
.progress-bar {
	box-shadow: none;
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #0A8DE0;
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

#fb,#gm,#in,#tw{
 color:#898989 !important;
 font-size:35px;
 font-weight: bold;
}


#fb:hover{
 color:#1241B8 !important;
}
#gm:hover{
 color:#C80505 !important;
}
#in:hover{
 color:#805415 !important;
}
#tw:hover{
 color:#0584FA !important;
}

.textura1{
 background: #d8d8d8 url('../images/fondo.png');
}

.pad{
	padding: 10px;
}
.footer{

    
    margin: 0px !important;
}

#cursosinformaticos:hover{
	color: black !Important;	
}

.whatsapp{
	color: #43C354;
	font-size: 1.16em;
}